# Built application files & APKs
*.apk
*.aab
*.aar
*.ap_
*.dex

# Built binaries & native artifacts
*.class
/build/
app/build/
app/release/
.externalNativeBuild
.cxx/
/captures/

# Signing keys & Keystores (CRITICAL FOR SECURITY)
*.jks
*.keystore
*.pepk

# Android Studio & IDE specific files
/.idea/
*.iml
.gradle/
.kotlin/

# User-specific & Environment configuration
/local.properties

# OS-generated metadata
.DS_Store
Thumbs.db